name: Test running tests
run-name: Testing if test workflow works
on:
  push:
    branches:
      - trying_tools
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      # Step 1: Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Set up Node.js 
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      # Step 3: Install dependencies 
      - name: Install dependencies
        run: npm install

      # Step 4: Run Jest tests with coverage
      - name: Run Jest tests
        run: npm test -- --reporters=default --reporters=jest-junit
        continue-on-error: true

      - name: Upload JUnit report artifact
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: junit.xml

